.binaryGlobeImage {
  object-fit: contain;
  aspect-ratio: 1 / 1;
  border-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.58);
  font-weight: 700;
  text-decoration: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}
